<a href="/chairs">Return to Home</a>

<p>id: <%= @chair.id %> </p>
<p>color: <%= @chair.color %></p>
<p>weight: <%= @chair.weight %></p>
<p>legs: <%= @chair.legs %></p>
<p>image<: <%= @chair.image %></p>
